
/* ========
header
======== */

  /* nav */
@media (min-width: 768px) {
      .pull-right-sm {
          float: right;
      }
  }


/* ========
About Me
======== */
  /* photo */
#mypic {
  max-height: 200px;
}

  /* personal background */
ul {
  list-style: none;
  padding-left: 4%;
}


  /* why I'm learning to code */
#whylearn {
  color: red;
}
